<div class="reseting">
  <app-message></app-message>

  <h2 class="text-white">Welcome: {{user?.supervizor}}</h2>
  <div class="form-container">
    <h3 class="text-center text-light mb-3 ">Reset Password</h3>
    <form class="w-100 mx-auto text-center p-3" (ngSubmit)="reset(f)" #f="ngForm">
      <p class="text-light text-login ">New Password</p>
      <input type="password" class="border border-secondary" name='password' required ngModel /><br>
      <p class="text-light text-login ">Repeat Password</p>
      <input type="password" class="border border-secondary" name="repeat" required ngModel><br>
      <button type="submit" class="btn btn-sign mt-3" [disabled]="!f.valid">Update Password</button>
      <div class="text-center" *ngIf="updating">
        <div class="button-loader">
          <div class="loader-login"></div>
        </div>
      </div>
      <div class="text-center mt-3">
        <a href="#" routerLink='/' class="text-warning">Login</a><br>
      </div>
    </form>
  </div>

</div>