.btn-sign {
  border-radius: 25px;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.774);
  color: rgb(109, 24, 52);
  font-weight: bold;
}

.btn-sign:hover {
  background-color: #ffc107;
}

.text-login {
  text-align: center;
  padding-right: 5px;
  width: 140px;
  display: inline-block;
}

.form-container {
  position: absolute;
  display: block;
  width: 100%;
  padding: 20px;
  min-width: 300px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}


input {
  width: 100%;
  background-color: #fff;
  padding-left: 15px;
  max-width: 300px;
  min-width: 150px;
  border-radius: 25px;
  margin: 10px 0px;
  border: 2px solid rgb(189, 0, 57);
}

.reseting {
  height: 100vh;
  width: 100%;
}

input:focus {
  font-size: 1rem;
  font-weight: 400;
}